.pd-container {
  width: 100%;
  display: flex;
  gap: 20px;
  padding: 30px;
  background: #fff;
  justify-content: center;
}

/* LEFT IMAGE */
.pd-image-box {
  flex: 1;
  max-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pd-image-box img {
  width: 100%;
  object-fit: contain;
}

/* MIDDLE INFO */
.pd-content {
  flex: 2;
}

.pd-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.pd-rating {
  font-size: 16px;
  margin-bottom: 12px;
}

.pd-rating-count {
  color: #007185;
  margin-left: 5px;
}

.pd-price {
  color: #b12704;
  font-size: 22px;
  margin-bottom: 15px;
}

.pd-description {
  line-height: 1.5;
  margin-top: 10px;
  font-size: 16px;
  max-width: 500px;
}

/* BUY BOX RIGHT SIDE */
.pd-buy-box {
  width: 250px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  height: fit-content;
}

.pd-price-large {
  color: #b12704;
  font-size: 24px;
  margin-bottom: 20px;
}

.pd-btn-add,
.pd-btn-buy {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.pd-btn-add {
  background-color: #ffd814;
}

.pd-btn-add:hover {
  background-color: #f7ca00;
}

.pd-btn-buy {
  background-color: #ffa41c;
}

.pd-btn-buy:hover {
  background-color: #fa8900;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .pd-container {
    flex-direction: column;
    padding: 20px;
  }

  .pd-buy-box {
    width: 100%;
  }
}
