.heroBanner {
    width: 100%;
  position: relative;
  overflow: hidden; 
}
.heroBanner img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  display: block;
  pointer-events: none;
}
.swiper-button-next,
.swiper-button-prev {
  color: #000;
  background: rgba(255, 255, 255, 0.85);
  width: 45px;
  height: 80px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 22px;
  font-weight: bold;
}

/* Hover effect */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #fff;
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
  .heroBanner {
    height: 250px;
  }
  .heroBanner img {
    height: 250px;
  }
}

/* BOTTOM FADE  Style*/
.bannerFadeBottom {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(
    to bottom,
    rgba(225, 225, 225, 0),
    rgba(255, 255, 255)
  );
  z-index: 10;
  pointer-events: none;
}
