/* MAIN HEADER WRAPPER */
.header {
  width: 100%;
  height: 60px;
  /* background-color: #ff6200; */
  background-color: #026444;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
}

/* LEFT SECTION */
.header__left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin-top: 5px;
  cursor: pointer;
  vertical-align: middle;
}

/* Location */
.header__location {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header__location:hover {
  border: solid 1px #f3f3f3;
  cursor: pointer;
}

.header__locationIcon {
  font-size: 20px;
  margin-right: 5px;
}
.header__locationIcon img {
  width: 17px;
  height: 15px;
  border-radius: 2px;
  background-position: -71px -378px;
  background-color: #f3f3f3;
}
.delivered__to {
  display: flex;
  flex-direction: column;
  gap: 0px;
  line-height: 90%;
}
.header__smallText {
  font-size: 12px;
  /* color: #ccc; */
  margin: 0;
}

.header__boldText {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

/* SEARCH BAR */
.header__search {
  display: flex;
  flex: 1;
  margin: 0 15px;
  height: 40px;
}

.header__searchSelect {
  width: 60px;
  background-color: #f3f3f3;
  border: none;
  outline: none;
  border-radius: 4px 0 0 4px;
  padding: 0 5px;
  font-size: 14px;
}
.header__searchInput:focus-within {
  border: 2px solid greenyellow;
}

.header__searchInput {
  flex: 1;
  border: none;
  outline: none;
  padding-left: 10px;
  font-size: 15px;
}

.header__searchBtn {
  width: 50px;
  /* background-color: #febd69; */
  background-color: #7f1153;
  color: #f3f3f3;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  font-size: 25px;
}

.header__searchBtn:hover {
  background-color: #f3a847;
}

/* RIGHT SECTION */
.header__right {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Language */
.header__lang {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__flag {
  width: 25px;
  margin-right: 5px;
}

.header__langSelect {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* Account links */
.header__link {
  text-decoration: none;
  color: white;
}

.header__link:hover span {
  text-decoration: underline;
}

/* Cart */
.header__cart {
  display: flex;
  align-items: center;
  position: relative;
  color: white;
  text-decoration: none;
}

.header__cartIcon {
  font-size: 30px;
}
.header__cartCount {
  font-size: 10px;
  font-weight: bold;
  background-color: #f08804;
  border-radius: 50%;
  padding: 1px 6px;
  color: black;
  position: absolute;
  top: 3px;
  left: 11px;
}

@media screen and (max-width: 576px) {
  .header {
    display: flex;
    flex-direction: column !important;
    height: auto;
  }
  .lowerHeader ul li:not(:first-child) {
    display: none;
  }
  .langSelect {
    display: none;
  }
}
