.productContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
  background-color: rgb(245, 243, 241);
}
.productContainer section {
  margin: 0 auto;
}
