.productCard {
  /* width: 240px; */
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s ease;
  cursor: pointer;
}

.productCard:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.productCard__img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}

.productCard__info {
  margin-top: 10px;
}

.productCard__title {
  font-size: 14px;
  font-weight: 600;
  /* height: 38px; */
  overflow: hidden;
}

.productCard__price {
  font-size: 18px;
  font-weight: bold;
  margin: 6px 0;
  color: #b12704; /* Amazon price color */
}

.productCard__category {
  font-size: 12px;
  color: gray;
}

.productCard__btn {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  background: #f0c14b;
  border: 1px solid #a88734;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.productCard__btn:hover {
  background: #ddb347;
}
.productCard__rating {
  display: flex;
  align-items: center;
  margin: 6px 0;
}

.star {
  font-size: 18px;
  margin-right: 2px;
}

.filled {
  color: #ffa41c; /* Amazon yellow */
}

.empty {
  color: #ccc;
}

.productCard__ratingCount {
  margin-left: 5px;
  font-size: 13px;
  color: #555;
}

