.container {
  background-color: #efeeee;
  padding: 30px;
}
.orders_container {
  background-color: #fff;
  padding: 10px;
}
.orders_container h2 {
  border-bottom: 2px solid var(--primary-shade);
  padding: 20px;
}
.orders_container p {
  padding: 12px;
}
.orders_container div {
  height: auto !important;
}
.orders_container img {
width: 150px !important;
  /* height: auto !important; */
}
