/* Category Page Container */
.category__page {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

/* Title */
.category__page h2 {
  font-size: 26px;
  margin-bottom: 20px;
   
}
