.heroBanner {
  width: 100%;
  height: max-content;
  overflow: hidden;
  position: relative;
}
.heroBanner img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  display: block;
  pointer-events: none;
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
  .heroBanner {
    height: 250px;
  }
  .heroBanner img {
    height: 250px;
  }
}

/* BOTTOM FADE  Style*/
.bannerFadeBottom {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 300px;
  background-image: linear-gradient(
    to bottom,
    rgba(225, 225, 225, 0),
    rgba(255, 255, 255)
  );
  z-index: 10;
  pointer-events: none;
}
