/* .tracking {
  padding: 30px;
}

.progress {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.step {
  padding: 10px 20px;
  border-bottom: 3px solid #ccc;
}

.active {
  border-bottom: 3px solid #ffa41c;
  font-weight: bold;
} */
