.category__card {
  width: 100%;
  max-width: 280px;
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.category__card img {
  width: 80%;
  height: 300px;
  object-fit: contain;
  border-radius: 6px;
  margin: 10px 0;
}

.category__card h2 {
  font-size: 1.2rem;
  margin-bottom: 8px;
  text-align: center;
}

.category__card p {
  color: #007185;
  font-weight: 500;
  margin-top: 5px;
}
