/* Category container grid */
.category__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 1600px;
  gap: 20px;
  padding: 20px;
  margin: -200px auto 40px;
  z-index: 20;
  position: relative;
}
